#! /bin/sh

export CASE_REPO_PATH=https://github.com/IBM/cloud-pak/raw/master/repo/case
export OFFLINEDIR=$HOME/Temp/CP4D

# https://myibm.ibm.com/products-services/containerlibrary
export ICRIO_KEY="keyvalue"

# https://github.com/zinal/OpenSourceNotes/tree/master/docker-registry-standalone
export PRIVATE_REGISTRY_USER=reguser
export PRIVATE_REGISTRY_PASSWORD=regpassword
export PRIVATE_REGISTRY=localhost:5000

export USE_SKOPEO=true

